---
import { SITE_DESCRIPTION } from "@utils/consts";
import { Articles } from "@components/Articles";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="All Articles" metaDescription={SITE_DESCRIPTION}>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1 class="text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto">
      <span class="font-semibold">All articles</span>
    </h1>
  </section>

  <section class="grid gap-6 mt-10" aria-label="latest articles">
    <Articles client:load />
  </section>
</BaseLayout>
