---
import { Image, Category, contentfulClient } from "@utils/contentful";
import BaseLayout from "@layouts/BaseLayout.astro";

const { items: categories } = await contentfulClient.getEntries<Category>({
  content_type: "category",
  order: ["-fields.name"] as any,
});
---

<BaseLayout
  title="All Categories"
  metaDescription="An overview of all running article categories"
>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1 class="text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto">
      <span class="font-semibold">All categories</span>
    </h1>
  </section>

  <section class="grid gap-6 mt-10" aria-label="latest articles">
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        categories.map(({ fields }) => {
          const { name, slug, featuredImage, description } = fields;

          return (
            <article class="grid gap-0.5 content-start">
              <div
                class="h-[200px] bg-cover bg-center p-4 md:h-[300px] mb-3"
                style={{
                  backgroundImage: `url('${(featuredImage as Image).fields.file.url}')`,
                }}
              />

              <h3 class="font-bold text-elba text-xl -tracking-[.6px] leading-[26px] hover:underline focus:underline">
                <a
                  class="transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
                  href={new URL(`categories/${slug}`, Astro.site)}
                >
                  {name}
                </a>
              </h3>
              <p class="text-philippine-grey font-light -tracking-[.125px] leading-[23px] mt-[5px] mb-2">
                {description}
              </p>
            </article>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
