---
import BaseHead from "@components/BaseHead.astro";
import { Header } from "@components/Header";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="About Adam"
      description="Hello, my name is Adam. I'm a passionate runner who builds websites for a living. I decided to put those two skills together to create this blog."
    />
  </head>

  <body>
    <Header site={Astro.site} client:load />

    <section class="w-full max-w-128 mx-auto px-6 py-8 md:p-0 md:pt-12">
      <h1 class="font-black text-3xl text-elba">Error 404: Page not found.</h1>
      <p class="text-philippine-grey text-lg font-serif mt-1">Sorry 🤷</p>
    </section>
  </body>
</html>
