---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About TR3: for serious runners, by serious runners."
  description="We publish authentic, high-quality, science-backed content for recreational runners who care about performance, not just participation."
>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1 class="text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto">
      <span class="font-semibold"
        >For serious runners,<br />
        by serious runners.<br /></span
      >
      <span class="font-black">We are tr3.</span>
    </h1>
  </section>

  <section class="pt-8 px-4 grid gap-4 lg:px-0">
    <h2 class="font-bold text-elba text-lg">Who are tr3?</h2>

    <p class="text-[#3B3C4A] text-base">
      <strong>tr3</strong> -- pronounced <i>“tee-are-3”</i> -- is a platform created
      for <strong>serious runners, by serious runners</strong>.
    </p>
    <p class="text-[#3B3C4A] text-base">
      We publish <strong>authentic, high-quality, science-backed content</strong
      > for recreational runners who care about <strong
        >performance, not just participation</strong
      >.
    </p>

    <p class="text-[#3B3C4A] text-base">
      This is a space for the kind of runners who open Strava before they shower
      — not to justify dessert, but to chase growth; the kind of <strong
        >runners who want to understand why something works, not just be told
        what to do</strong
      >.
    </p>

    <p class="text-[#3B3C4A] text-base">
      The name stems from the four equal stages that any serious runner should
      follow: <strong>train, race, recover, repeat</strong>.
    </p>
  </section>
</BaseLayout>
