---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="TR3 Privacy Policy"
  metaDescription="We publish authentic, high-quality, science-backed content for recreational runners who care about performance, not just participation."
>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1 class="text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto">
      <span class="font-semibold">Privacy Policy</span>
    </h1>
  </section>

  <section class="pt-8 px-4 grid gap-4 lg:px-0">
    <h2 class="font-bold text-elba text-lg">Privacy Policy for “tr3”</h2>
    <p class="text-[#3B3C4A] text-base">Last Updated: 11/08/2025</p>

    <p class="text-[#3B3C4A] text-base">
      Welcome to “tr3,” a running publication operated by Adam McKenna. Your
      privacy is important to us, and we are committed to protecting your
      personal information. This Privacy Policy outlines how we collect, use,
      disclose, and protect your information when you visit our site.
    </p>

    <p class="text-[#3B3C4A] text-base">
      By accessing or using “tr3,” you consent to the practices described in
      this Privacy Policy. Please read this policy carefully to understand our
      practices regarding your personal data.
    </p>

    <h2 class="font-bold text-elba text-lg">Information We Collect</h2>

    <h3>Personal Information</h3>
    <p class="text-[#3B3C4A] text-base">
      We may collect personal information that you voluntarily provide when you
      interact with our website, such as:
    </p>
    <ul class="list-disc ml-4">
      <li class="text-[#3B3C4A] text-base">Your name</li>
      <li class="text-[#3B3C4A] text-base">Email address</li>
      <li class="text-[#3B3C4A] text-base">Comments and feedback you submit</li>
      <li class="text-[#3B3C4A] text-base">
        Any other information you choose to share with us
      </li>
    </ul>

    <h3>Usage Data</h3>
    <p class="text-[#3B3C4A] text-base">
      We automatically collect certain information about your device and how you
      use our website, including:
    </p>
    <ul class="list-disc ml-4">
      <li class="text-[#3B3C4A] text-base">Your IP address</li>
      <li class="text-[#3B3C4A] text-base">Browser type</li>
      <li class="text-[#3B3C4A] text-base">Operating system</li>
      <li class="text-[#3B3C4A] text-base">Referring URLs</li>
      <li class="text-[#3B3C4A] text-base">Pages you view on our website</li>
      <li class="text-[#3B3C4A] text-base">Date and time of your visit</li>
    </ul>

    <h2 class="font-bold text-elba text-lg">How We Use Your Information</h2>
    <p class="text-[#3B3C4A] text-base">
      We may use the information we collect for various purposes, including:
    </p>
    <ul class="list-disc ml-4">
      <li class="text-[#3B3C4A] text-base">
        To respond to your comments or inquiries
      </li>
      <li class="text-[#3B3C4A] text-base">
        To improve and personalize your experience on our website
      </li>
      <li class="text-[#3B3C4A] text-base">
        To send you email updates, newsletters, or other content you have
        subscribed to (you can opt out at any time)
      </li>
      <li class="text-[#3B3C4A] text-base">
        To analyze and optimize our website&apos;s performance
      </li>
      <li class="text-[#3B3C4A] text-base">
        To serve personalized advertisements (see the “Google AdSense” section
        below)
      </li>
    </ul>

    <h2 class="font-bold text-elba text-lg">Google AdSense</h2>
    <p class="text-[#3B3C4A] text-base">
      “tr3” uses Google AdSense, a third-party advertising service provided by
      Google Inc. Google AdSense uses cookies to serve ads based on a
      user&apos;s prior visits to our website and other websites on the
      Internet. These cookies enable Google and its partners to serve ads to our
      users based on their interests and browsing history.
    </p>

    <h2 class="font-bold text-elba text-lg">Opting Out</h2>
    <p class="text-[#3B3C4A] text-base">
      Users may opt out of personalized advertising by visiting <a
        href="https://www.google.com/settings/ads"
        target="_blank"
        rel="noopener noreferrer">Google Ads Settings</a
      >. Additionally, users can opt out of a third-party vendor&apos;s use of
      cookies for personalized advertising by visiting <a
        href="https://www.aboutads.info"
        target="_blank"
        rel="noopener noreferrer">www.aboutads.info</a
      >.
    </p>

    <p class="text-[#3B3C4A] text-base">
      Please note that if you have not opted out of third-party ad serving,
      other third-party vendors or ad networks may also use cookies to serve ads
      on our site. We encourage you to:
    </p>
    <ul class="list-disc ml-4">
      <li class="text-[#3B3C4A] text-base">
        Be aware of the third-party vendors and ad networks serving ads on our
        site.
      </li>
      <li class="text-[#3B3C4A] text-base">
        Visit the appropriate vendor and ad network websites for more
        information and to opt out of the use of cookies for personalized
        advertising (if the vendor or ad network offers this capability).
      </li>
    </ul>

    <h2 class="font-bold text-elba text-lg">Third-Party Websites and Links</h2>
    <p class="text-[#3B3C4A] text-base">
      “tr3” may contain links to third-party websites. Please be aware that we
      are not responsible for the content or privacy practices of these external
      websites. We encourage you to read the privacy policies of these
      third-party sites when you leave our website.
    </p>

    <h2 class="font-bold text-elba text-lg">Changes to this Privacy Policy</h2>
    <p class="text-[#3B3C4A] text-base">
      We may update this Privacy Policy from time to time to reflect changes in
      our practices or for other operational, legal, or regulatory reasons. We
      will notify you of any material changes by posting the updated Privacy
      Policy on this page.
    </p>

    <h2 class="font-bold text-elba text-lg">Contact Us</h2>
    <p class="text-[#3B3C4A] text-base">
      If you have any questions or concerns about this Privacy Policy or our
      data practices, please contact us at adam-mckenna@outlook.com.
    </p>
  </section>
</BaseLayout>
