---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Running Resources: Books, Podcasts, and more "
  metaDescription="We publish authentic, high-quality, science-backed content for recreational runners who care about performance, not just participation."
>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1
      class="max-w-[620px] font-semibold text-white text-2xl lg:text-4xl lg:mx-auto"
    >
      Running Resources
    </h1>
    <p class="max-w-[620px] text-gray-400 text-normal mt-2 lg:mx-auto">
      A collection of recommended, high-quality resources to improve your
      training, racing, recovery and longevity.
    </p>
  </section>

  <section class="pt-8 px-4 md:px-0 grid gap-4 max-w-[620px] mx-auto lg:px-0">
    <h2 class="font-bold text-elba text-lg">Books</h2>

    <ul class="grid gap-2.5 list-disc ml-4">
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.goodreads.com/book/show/7192581-racing-weight"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Racing Weight</a
          > by Matt Fitzgerald</span
        >. An excellent book on eating well, staying lean and optimising your
        weight for racing across different sports.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.goodreads.com/book/show/58284094-run-like-a-pro-even-if-you-re-slow"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Run Like a Pro, Even if You're Slow</a
          > by Matt Fitzgerald and Ben Rosario</span
        >. Fitzgerald is joined by former NAS coach Ben Rosario to guide all
        runners, whether recreational or semi-pro, to emulate the techniques of
        elite runners. This is a fantastic starting point for anyone who is
        diving into the world of running science.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.goodreads.com/book/show/363482.Advanced_Marathoning"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Advanced Marathoning</a
          > by Pete Pfitzinger and Scott Douglas</span
        >. A classic approach to marathon training: lots of steady miles with
        minimal speedwork.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.goodreads.com/book/show/112152.Daniels_Running_Formula"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Daniels' Running Formula</a
          > by Jack Daniels</span
        >. Daniels is one of the most iconic running coaches of all time, and
        this book is essentially his A-to-Z running guide.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.goodreads.com/book/show/37647487-running-rewired"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Running Rewired</a
          > by Jay Dicharry</span
        >. A guide to stretch training, stretching and corrective exercises to
        ensure longevity in the running world.
      </li>
    </ul>

    <h2 class="font-bold text-elba text-lg">YouTube Channels</h2>

    <ul class="grid gap-2.5 list-disc ml-4">
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.youtube.com/@tr3running"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >tr3 Running</a
          ></span
        >. Our YouTube channel has mix of advice for running training, racing,
        recovery and longevity.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.youtube.com/@runningchannel"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >The Running Channel</a
          ></span
        >. One of our favourite channels, the Running Channel are a wholesome
        bunch with a plethora of great running content aimed at all levels.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.youtube.com/@gtn"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >The Global Triathlon Network</a
          ></span
        >. The GTN may not be targeted at runners specifically, but they have a
        lot of great running and cross-training content.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.youtube.com/@PhilyBowden"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Phily Bowden</a
          ></span
        >. Bowden is a fantastic marathon runner. Part of Team GB, and presently
        working towards the Olympics, she has a great personality and a depth of
        knowledge.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.youtube.com/@RunBetterwithAsh"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Run Better with Ash</a
          ></span
        >. Ash offers a series of great follow-along warm up, stretching and
        flexibility workouts.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.youtube.com/@JeremyEthier"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Jeremy Ethier</a
          ></span
        >. While not really about running, Ethier posts fantastic content about
        strength training, nutrition and general biology.
      </li>
    </ul>

    <h2 class="font-bold text-elba text-lg">Podcasts</h2>

    <ul class="grid gap-2.5 list-disc ml-4">
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://runnersconnect.net/running-podcast/"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Run to the Top</a
          ></span
        >. Lots of great content from top-level athletes and coaches.
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://zoe.com/learn/category/podcasts"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >ZOE Podcast</a
          ></span
        >. While not specifically about running, the ZOE podcast has a lot of
        great nutrition, health and sport content backed by science.
      </li>
    </ul>

    <h2 class="font-bold text-elba text-lg">Newsletters</h2>

    <ul class="grid gap-2.5 list-disc ml-4">
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://www.runnersworld.com/email/runnersworld-newsletter"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >Run to the Top</a
          ></span
        >. Newsletter from an iconic magazine (there's often lots of promoted
        and marketing content, but there's also plenty of great info).
      </li>
      <li class="pl-0.5">
        <span class="font-semibold"
          ><a
            target="blank"
            href="https://therunningchannel.com/newsletter-sign-up/"
            class="text-sea-blue hover:text-[#044862] focus:text-[#044862] underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
            >The Running Channel</a
          ></span
        >. The newsletter counterpart to their YouTube channel.
      </li>
    </ul>
  </section>
</BaseLayout>
