---
import { AdUnit } from "@components/AdUnit";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="tr3 Terms and Conditions"
  metaDescription="We publish authentic, high-quality, science-backed content for recreational runners who care about performance, not just participation."
>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1 class="text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto">
      <span class="font-semibold">Terms and Conditions</span>
    </h1>
  </section>

  <section class="pt-8 px-4 grid gap-4 lg:px-0">
    <h2 class="font-bold text-elba text-lg">Terms of Use for “tr3”</h2>
    <p class="text-fog text-base">Last Updated: 11/08/2025</p>

    <p class="text-fog text-base">
      Welcome to “tr3,” a running publication operated by Adam McKenna. By
      accessing and using our website, you agree to comply with and be bound by
      the following Terms of Use. If you do not agree to these terms, please do
      not use our website.
    </p>

    <h2 class="font-bold text-elba text-lg">1. Acceptance of Terms</h2>
    <p class="text-fog text-base">
      By using “tr3,” you agree to be bound by these Terms of Use and any
      additional terms and conditions that may apply to specific sections or
      features of our website. If you do not agree to these terms, please
      refrain from using our site.
    </p>

    <h2 class="font-bold text-elba text-lg">2. Use of the Website</h2>
    <p class="text-fog text-base">
      You agree to use “tr3” for lawful and non-commercial purposes only. You
      must not:
    </p>
    <ul class="list-disc ml-4">
      <li class="text-fog text-base">
        Violate any applicable laws, regulations, or third-party rights.
      </li>
      <li class="text-fog text-base">
        Interfere with the operation or security of our website.
      </li>
      <li class="text-fog text-base">
        Use our website to engage in any harmful or illegal activities.
      </li>
      <li class="text-fog text-base">
        Upload, share, or distribute any content that is harmful, offensive, or
        infringing on the rights of others.
      </li>
    </ul>

    <AdUnit client:load slot="6496606373" />

    <h2 class="font-bold text-elba text-lg">3. Content Ownership</h2>
    <p class="text-fog text-base">
      All content, including text, images, videos, articles, training plans, and
      other materials on “tr3,” is owned or licensed by us and is protected by
      copyright and other intellectual property laws. You may not use,
      reproduce, distribute, or modify our content without our express written
      permission.
    </p>

    <h2 class="font-bold text-elba text-lg">4. User-Generated Content</h2>
    <p class="text-fog text-base">
      We may allow users to submit comments, reviews, race reports, or other
      content to our website. By submitting content, you grant us a
      non-exclusive, royalty-free, worldwide, perpetual license to use, modify,
      and display the content on “tr3” and related platforms. You are solely
      responsible for the content you submit and agree not to post content that
      is defamatory, illegal, or infringing on third-party rights.
    </p>

    <h2 class="font-bold text-elba text-lg">5. Disclaimer</h2>
    <p class="text-fog text-base">
      The information provided on “tr3” is for informational purposes only and
      is not a substitute for professional medical advice, diagnosis, or
      treatment. We make no representations or warranties about the accuracy,
      completeness, or suitability of the content for any purpose. You use our
      website and its content at your own risk.
    </p>

    <h2 class="font-bold text-elba text-lg">
      6. Links to Third-Party Websites
    </h2>
    <p class="text-fog text-base">
      Our website may contain links to third-party websites. These links are
      provided for your convenience, and we do not endorse or control the
      content on third-party sites. We are not responsible for the content or
      practices of these external websites.
    </p>

    <h2 class="font-bold text-elba text-lg">7. Privacy</h2>
    <p class="text-fog text-base">
      Your use of “tr3” is subject to our Privacy Policy, which outlines how we
      collect, use, and protect your personal information. By using our website,
      you consent to our data practices as described in the Privacy Policy.
    </p>

    <h2 class="font-bold text-elba text-lg">8. Changes to Terms of Use</h2>
    <p class="text-fog text-base">
      We may update these Terms of Use from time to time to reflect changes in
      our practices or for other operational, legal, or regulatory reasons. We
      will notify you of any material changes by posting the updated Terms of
      Use on this page.
    </p>

    <AdUnit client:load slot="6496606373" />

    <h2 class="font-bold text-elba text-lg">9. Contact Us</h2>
    <p class="text-fog text-base">
      If you have any questions or concerns about these Terms of Use or our
      website, please contact us adam-mckenna@outlook.com.
    </p>
  </section>
</BaseLayout>
