---
import BaseLayout from "@layouts/BaseLayout.astro";
import { VT1Calculator } from "@components/VT1Calculator.tsx";
import { AdUnit } from "@components/AdUnit";
---

<BaseLayout
  title="VT1 Calculator"
  metaDescription="We publish authentic, high-quality, science-backed content for recreational runners who care about performance, not just participation."
>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1
      class="font-semibold text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto"
    >
      VT1 Calculator
    </h1>
    <p class="text-gray-400 text-normal mt-2 max-w-lg lg:mx-auto">
      Based on a 6-minute max effort test
    </p>
  </section>

  <section class="pt-8 px-4 md:px-0 grid gap-4 max-w-[620px] mx-auto lg:px-0">
    <VT1Calculator client:load />
  </section>

  <section class="pt-8 px-4 md:px-0 grid gap-4 max-w-[620px] mx-auto lg:px-0">
    <h2 class="font-bold text-elba text-lg">What is this calculator?</h2>

    <p class="text-elba text-base">
      This tool calculates your <a
        href="https://vo2master.com/blog/ventilatory-thresholds-explained/?srsltid=AfmBOopkc1PvmYOQHzf1SQ9uaET-RWKHFqLvh_8ZMOWAJuOdrLOmMA8G"
        target="_blank"
        class="text-sea-blue hover:text-sea-blue-dark focus:text-sea-blue-dark underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
        >VT1 (ventilatory threshold 1)</a
      >.
    </p>

    <p class="text-elba text-base">
      Your VT1 is the pace at which runs stop being easy (aerobic) and start
      becoming intense (anaerobic).
    </p>

    <p class="text-elba text-base">
      If you want to learn more, we've wrote <a
        href={new URL(
          "articles/why-running-slow-makes-you-a-faster-runner",
          Astro.site,
        )}
        class="text-sea-blue hover:text-sea-blue-dark focus:text-sea-blue-dark underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
        >an article on the topic</a
      >. We've also created a YouTube video.
    </p>

    <iframe
      width="560"
      height="315"
      class="mb-4"
      src="https://www.youtube.com/embed/6t0etK5cIbw?si=IcFEVHzF-kBt_VnJ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>

    <h2 class="font-bold text-elba text-lg">How to use the calculator</h2>

    <p class="text-elba text-base">
      This VT1 calculator is super easy to use - but first, you need to do some
      hard work.
    </p>

   <AdUnit slot="6496606373" client:load />

    <p class="text-elba text-base">Here's how it works:</p>

    <ol class="grid gap-1.5 list-decimal ml-4">
      <li class="text-elba text-base">
        <span class="font-semibold">First, run a six-minute time trial.</span>.
        Find a track or similar flat route. Warm up. Then run as far as you can
        in six minutes.
      </li>
      <li class="text-elba text-base">
        <span class="font-semibold">Take your average pace</span> of that time trial
        and put it in the calculator above.
      </li>
      <li class="text-elba text-base">
        <span class="font-semibold">The calculator does all the work.</span> It takes
        your pace and converts it to speed. It then multiplies it by 0.65 (VT1 is
        about 60-65% of max effort pace) and finally converts it back to pace.
      </li>

      <li class="text-elba text-base">
        <span class="font-semibold">That pace is your VT1</span>. That's the
        maximum speed at which you should run your easy runs.
      </li>
    </ol>

   <AdUnit slot="9090980120" client:load />

    <p class="text-elba text-base">
      If you're curious about why your VT1 pace, or running easy miles in
      general, is important, we've wrote all about it <a
        href={new URL(
          "articles/why-running-slow-makes-you-a-faster-runner",
          Astro.site,
        )}
        class="text-sea-blue hover:text-sea-blue-dark focus:text-sea-blue-dark underline transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
        >here</a
      >.
    </p>
  </section>
</BaseLayout>
