<header class="px-6 py-3 bg-elba text-chardon md:px-0">
  <nav class="flex justify-between max-w-128 mx-auto">
    <p class="font-[800] letter-spacing-[.2px] text-lg">
      <a href="/">adamcantrun</a>
    </p>
    <ul class="flex gap-4 items-center justify-center">
      <li>
        <a href="/about" class="text-sm"> about </a>
      </li>
      <li>
        <a href="/" class="text-sm"> posts </a>
      </li>
    </ul>
  </nav>
</header>
