@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-chardon: #f9f1e9;
  --color-elba: #252621;
  --color-philippine-grey: #8c8c8c;
  --color-sea-blue: #05668d;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Georgia", "serif";
}
