@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-chardon: #f9f1e9;
  --color-elba: #252621;
}

* {
  font-family: "Inter", sans-serif;
}
