---
import BaseHead from "@components/BaseHead.astro";
import { Header } from "@components/Header";
import { Footer } from "@components/Footer";

const { title, metaDescription, isHome } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={metaDescription} isHome={isHome} />
  </head>
  <body>
    <Header site={Astro.site} client:load />

    <main class="max-w-lg mx-auto mb-12 px-4 lg:p-0 lg:pt-6">
      <slot />
    </main>

    <Footer />
  </body>
</html>
