---
import BaseHead from "@components/BaseHead.astro";
import { Header } from "@components/Header";

const { title, metaDescription, isHome } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={metaDescription} isHome={isHome} />
  </head>
  <body>
    <Header site={Astro.site} client:load />

    <main>
      <slot />
    </main>
  </body>
</html>
